{
  :http-server-root "public" ;; default
  :server-port 3449          ;; default
  :open-file-command "emacsclient"
  :builds [{:id "dev", 
            :source-paths ["src/cljs"],
            :figwheel true
            :compiler {:main boards-io.core,
                       :asset-path "/js",
                       :output-to "resources/public/js/main.js",
                       :output-dir "resources/public/js/",
                       :source-map-timestamp true}}]
}
