{
 ;:http-server-root "public" ;; default
 :open-file-command "emacsclient"
 :reload-clj-files false
 :builds [{:id "dev", 
           :source-paths ["src/cljs"],
           :figwheel true
           :compiler {:main "boards-io.core"
                      :asset-path "/js",
                      :recompile-dependents false
                      :output-to "resources/public/js/main.js",
                      :output-dir "resources/public/js/",
                      :source-map-timestamp true}}]}

