#app {
    margin-top: 75px;
}

#header {
    position: fixed;
    width:100%;
    top:0;
}

.modal {
    display: block;
    overflow: visible;
    position: static;
}

#modal-wrap {
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.board-wrap {
    margin: 0 -10px;
    white-space: nowrap;
    display: flex;
}

.board-column {
    display:inline-block;
    padding: 10px 5px;
    width: 200px;
    margin: 0 10px;
}
