#app {
    margin-top: 75px;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    width:100%;
    top:0;
}

.modal {
    display: block;
    overflow: visible;
    position: static;
}

#modal-wrap {
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.board-wrap {
    margin: 0 -10px;
    white-space: nowrap;
    display: flex;
}

.board-column {
    display:inline-block;
    padding: 10px 5px;
    width: 200px;
    margin: 0 10px;
}

.new-column {
    order: 9999;
}

.board-column-new-item {
    font-style: italic;
}

.board-column-task-item {
    margin:2px 0;
    padding:2px 0;
}

.board-column-title {
    margin-bottom:3px;
    border-bottom:1px solid #e2e2e2;
}

.moving {
    border: 1px dashed black;
    border-radius: 5px;
    opacity: 0.5;
}
